.body{
    margin: 0;
}
.fm{
    font-family: 微软雅黑;
    font-size: 22px;
    height: 120px;
    background-color: #f1f1f1;
    line-height: 80px;
    width: 80%;
    margin-left: 10%;
}
.fm p{
    margin-left: 30px;
    color: #999;
}
.c{
    padding: 0 10%;
}
#content{
    height: 300px;
}
.a-title{
    padding: 0 10%;
    width: 50%;
    margin: 20px 0 10px 0;
}

.footer{
    margin-top: 15px;
    margin-bottom: 50px;
    float: right;
}
