.q-title{
    height: 40px;
}
.q-c-t{
    margin-top: 20px;
    margin-bottom: 10px;
}
#q-content{
    height: 150px;
}
.topic-t{
    margin-top: 20px;
    margin-bottom: 10px;
}
.topic{
    height: 40px;
}