.img-nav{
    margin-top: 5px;
    height: 38px;
    width: 38px;
    border-radius: 20px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
    -moz-border-radius: 20px; /* Mozilla浏览器的私有属性 */
    -webkit-border-radius: 20px; /* Webkit浏览器的私有属性 */
}

a{
	text-decoration: none;
}