body{
    background-color: #fff;
    overflow: auto;
}
.row{
    margin: 0;
}

.tou{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.topic-top{
	margin-top: 20px;
}
.title-t{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
.gz{
	float: right;
	margin-top: 8px;
}

.content-title a{
    font-size: 18px;
}
.a-num{
    margin-top: 5px;
    text-align: center;
    background-color: rgba(55, 118, 164, 0.37);
    line-height: 25px;
    color: #999999;
    float: left;
    width: 35px;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.user{
    float: left;
    margin-left: 7px;
    margin-top: 7px;
}
.content-c{
    margin-left: 40px;
}
.content-buttom{
    margin-left: 40px;
    margin-top: 5px;
}
.content-buttom a{
    font-size: 12px;
    color: rgba(102, 102, 102, 0.71);
}
.topic-list{
    font-family: 微软雅黑;
    margin-top: 30px;
    margin-left: 20px;
}
.other-topic{
    font-size: 16px;
    float: left;
}
.change{
    float: right;
}
.list-tou{
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.t-item{
    font-size: 16px;
    float: left;
    margin-top: 7px;
    margin-left: 13px;
}
.t-gz a{
    margin-top: 8px;
    float: right;
}
.topic-button{
    margin-left: 20px;
    background-color: #cce1ef;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #cccccc;
}
.t-b{
    margin-top: 50px;
    margin-left: 30%;
}
.t-ps{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
