<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>个人主页</title>

<link rel="stylesheet" href="../resources/css/bootstrap.css">
<link rel="stylesheet" href="../resources/css/bootstrap-theme.css">
<link rel="stylesheet" href="../resources/css/top.css">
<link rel="stylesheet" href="../resources/css/homepage.css">

</head>
<body>
	<script src="../resources/js/jquery-3.1.0.js"></script>
	<script src="../resources/js/bootstrap.js"></script>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">脑洞</a>
			</div>

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">首页</a></li>
					<li><a href="theme.html">话题</a></li>
					<li><a href="find.html">发现</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">消息 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="homepage.html">私人动态</a></li>
						</ul></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
				<ul class="nav navbar-nav navbar-right" id="navbar">
					<li><a href="#">提问</a></li>
					<li><img :src="userInfo.userimg" alt="..."
						class="img-nav"></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">{{userInfo.realname}}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="homepage.html">我的主页</a></li>
							<li class="divider"></li>
							<li><a href="homepage-edit.html">设置</a></li>
							<li class="divider"></li>
							<li><a href="#" onclick="logOut();">退出</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row">
		<div class="home-top" id="usernav">
			<div class="col-md-2"></div>
			<div class="col-md-8 fm-8"
				style="background-color: rgb(129, 192, 214);"></div>
			<div class="col-md-2 fm-2"></div>

			<div class="col-md-2"></div>
			<div class="col-md-8 edit-8">
				<img :src="userInfo.userimg" alt="..." class="tou">
				<div class="name">{{userInfo.realname}}</div>
				<div class="set">
					<a href="homepage-edit.html">编辑个人资料</a>
				</div>
			</div>
			<div class="col-md-2 edit-2"></div>
		</div>

		<div class="home-mid">
			<div class="col-md-2"></div>
			<div class="col-md-6 mid-6" id="tab" style="padding-bottom: 10px;">
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs tabNav" role="tablist">
						<li role="" class="active tabTitle tabTitleText"><a
							href="#dtPanel" aria-controls="dtPanel" role="tab"
							data-toggle="tab">动态</a></li>
						<li role="presentation" class="tabTitle tabTitleText"><a
							href="#questionPanel" aria-controls="questionPanel" role="tab"
							data-toggle="tab">提问</a></li>
						<li role="presentation" class="tabTitle tabTitleText"><a
							href="#answerPanel" aria-controls="answerPanel" role="tab"
							data-toggle="tab">回答</a></li>
						<li role="presentation" class="tabTitle tabTitleText"><a
							href="#articlePanel" aria-controls="articlePanel" role="tab"
							data-toggle="tab">文章</a></li>
						<!-- 删除分享
						<li role="presentation" class="tabTitle tabTitleText">
							<a href="#sharePanel"
							aria-controls="sharePanel" role="tab" data-toggle="tab">分享</a>
						</li>
				-->
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabContent" style="min-height: 625px;">
						<div role="tabpanel" class="tab-pane active" id="dtPanel">
							<div class="contentTop">&nbsp&nbsp我的动态</div>
							<div id="noData" style="display: none;">
								<a href="index.html"
									style="text-decoration: none; font-size: 20px;">&nbsp&nbsp(
									・◇・)？ 没有更多的动态了，去关注自己感兴趣的内容吧！</a>
							</div>
							<div style="height: 150px;" v-for="cq in cqs">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">关注了问题</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{cq.concernDate}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{cq.title}}</div>
									<div>{{cq.content}}</div>

								</div>
								<div class="row">
									<div class="col-md-11"></div>
									<div class="col-md-1">
										<a href="#" v-on:click="ccQuestion(cq.id,$index)"
											alt="不再关注此消息"> <img alt="不再关注此消息"
											src="../resources/image/jianhao.png">
										</a>
									</div>
								</div>
							</div>
							<div style="height: 150px;" v-for="ca in cas">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">关注了文章</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{ca.concernDate}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{ca.title}}</div>
									<div>{{ca.content}}</div>

								</div>
								<div class="row">
									<div class="col-md-11"></div>
									<div class="col-md-1">
										<a href="#" v-on:click="ccArticle(ca.id,$index)" alt="不再关注此消息">
											<img alt="不再关注此消息" src="../resources/image/jianhao.png">
										</a>
									</div>
								</div>
							</div>
							<div style="height: 150px;" v-for="ct in cts">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">关注了话题</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{ct.concernDate}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{ct.themeName}}</div>
									<div>{{ct.intro}}</div>

								</div>
								<div class="row">
									<div class="col-md-11"></div>
									<div class="col-md-1">
										<a href="#" v-on:click="ccTheme(ct.id,$index)" alt="不再关注此消息">
											<img alt="不再关注此消息" src="../resources/image/jianhao.png">
										</a>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="questionPanel">
							<div class="contentTop">&nbsp&nbsp我的提问</div>
							<div id="noQuestion" style="display: none;">
								<a href="index.html"
									style="text-decoration: none; font-size: 20px;">&nbsp&nbsp(
									・◇・)？ 没有更多的提问了</a>
							</div>
							<div style="height: 125px;" v-for="item in items">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">发起了提问</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{item.time}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{item.title}}</div>
									<div>{{item.content}}</div>
								</div>
							</div>
							<nav aria-label="...">
								<ul class="pager">
									<li><a href="#tab" onclick="previousPage('question')">Previous</a></li>
									<li><a href="#tab" onclick="nextPage('question')">Next</a></li>
								</ul>
							</nav>
						</div>
						<div role="tabpanel" class="tab-pane" id="articlePanel">
							<div class="contentTop">&nbsp&nbsp我的文章</div>
							<div id="noArticle" style="display: none;">
								<a href="index.html"
									style="text-decoration: none; font-size: 20px;">&nbsp&nbsp(
									・◇・)？ 没有更多的文章了</a>
							</div>
							<div style="height: 125px;" v-for="item in items">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">发表了文章</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{item.time}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{item.title}}</div>
									<div>{{item.content}}</div>
								</div>
							</div>
							<nav aria-label="...">
								<ul class="pager">
									<li><a href="#" onclick="previousPage('article')">Previous</a></li>
									<li><a href="#" onclick="nextPage('article')">Next</a></li>
								</ul>
							</nav>
						</div>
						<!--	删除分享页面			
						<div role="tabpanel" class="tab-pane" id="sharePanel">
							<div class="contentTop">&nbsp&nbsp我的分享</div>
							<div style="height: 150px;" v-for="item in items">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">分享了内容</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{item.concernDate}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{item.title}}</div>
									<div>{{item.content}}</div>
								</div>
							</div>
						</div>
	-->
						<div role="tabpanel" class="tab-pane" id="answerPanel">
							<div class="contentTop">&nbsp&nbsp我的回答</div>
							<div id="noAnswer" style="display: none;">
								<a href="index.html"
									style="text-decoration: none; font-size: 20px;">&nbsp&nbsp(
									・◇・)？ 没有更多的回答了</a>
							</div>
							<div style="height: 125px;" v-for="item in items">
								<hr align="center" style="margin-top: 0px;">
								<div class="content">
									<div class="col-md-2 guanzhu">回答了问题</div>
									<div class="col-md-8"></div>
									<div class="col-md-2 time">{{item.time}}</div>
									<div class="col-md-2 z-tou">
										<img src="../resources/image/zhuanlan2.jpg" alt="..."
											class="z-t" />
									</div>
									<div class="col-md-10 z-title">{{item.title}}</div>
									<div>{{item.content}}</div>
								</div>
							</div>
							<nav aria-label="...">
								<ul class="pager">
									<li><a href="#" onclick="previousPage('answer')">Previous</a></li>
									<li><a href="#" onclick="nextPage('answer')">Next</a></li>
								</ul>
							</nav>
						</div>
						<div role="tabpanel" class="tab-pane" id="concernPanel">...</div>
					</div>

				</div>
			</div>

			<div class="col-md-2 ce-list" id="numPanel">
				<div class="">
					<ul class="list-entry">
						<li><a href="#">关注了</a></li>
						<li><a href="#">关注者</a></li>
					</ul>
				</div>
				<div class="list-num">
					<ul class="list-entry">
						<li>{{nums.concernManNum}}</a></li>
						<li>{{nums.concernMeNum}}</a></li>
					</ul>
				</div>
				<div style="margin-top: 100px"></div>
				<div class="list-gz">
					<div class="l-z1">关注的话题</div>
					<div class="l-z2">{{nums.concernThemeNum}}</div>
					<div class="l-z1">关注的文章</div>
					<div class="l-z2">{{nums.concernArticleNum}}</div>
					<div class="l-z1">关注的问题</div>
					<div class="l-z2">{{nums.concernQuestionNum}}</div>
					<div class="l-z1">关注的回答</div>
					<div class="l-z2">{{nums.concernAnswerNum}}</div>
				</div>
				<div class="times">个人主页被浏览49次</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script src="../resources/js/vue.js"></script>
	<script type="text/javascript" src="../resources/js/homepage.js"></script>
</body>
</html>